{% extends 'base.html.twig' %}

{% block title %}Welcome to Smart Campus{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <!-- Contenu principal centré -->
    <div class="d-flex justify-content-center align-items-center vh-60 flex-column">
        <h1>Dashboard Smart Campus</h1>
    </div>

    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="h3 mb-4 text-center background-container">Liste des Salles</h1>
            <div class="d-flex justify-content-center mb-4">
                {{ form_start(room, { 'attr': {'class': 'd-flex w-75 align-items-center gap-5 '} }) }}
                <div class="d-flex align-items-center form">
                    Etage:
                    {{ form_widget(room.floor, { 'attr': {'class': 'form-control', 'onchange':'this.form.submit()', 'style': 'background-color: #6a0dad; color: white; border:none; border-radius:15px 0px 0px 15px;'}}) }}
                    <button class="input-group-text" onclick="onHandleChangeFloor('slide_down')" style=" background-color: #6a0dad;color:white; border-radius: 0px ; border: none;">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                    <button class="input-group-text" onclick="onHandleChangeFloor('slide_up')" style=" background-color: #6a0dad; color: white; border: none; border-radius:0px 15px 15px 0px;">
                            <i class="bi bi-caret-up-fill"></i>
                    </button>
                </div>
                <div class="d-flex align-items-center" style="flex: 0.35;">
                    Batiment:
                    {{ form_widget(room.building, { 'attr': {'class': 'form-control', 'onchange': 'this.form.submit()', 'style': 'background-color: #6a0dad; color: white; border:none; border-radius:15px 0px 0px 15px;'}}) }}
                    <span class="input-group-text" style="background-color: #6a0dad; color: white; border-radius: 0px 15px 15px 0px; border: none">
                        <i class="bi bi-caret-down-fill"></i>
                    </span>
                </div>
                {{ form_end(room) }}
            </div>
            <div class="row" >
                {% if rooms is not empty %}
                    {% for roomInfo in roomsWithLastCaptures %}
                        <div class="col-md-3 align-items-center position-relative">
                            <!-- Carte de la salle -->
                            <div class="room-card card shadow-sm position-relative" onmouseover="showPopup(this)" onmouseout="hidePopup(this)">
                                <!-- Indicateur de l'état -->
                                <span
                                        class="position-absolute top-1 end-1 translate-middle p-2 rounded-circle
            {% if roomInfo.lastCaptures.temp is not null and roomInfo.lastCaptures.hum is not null and roomInfo.lastCaptures.co2 is not null %}
                {% if roomInfo.lastCaptures.co2 > 1000 %}
                    bg-danger
                {% elseif roomInfo.lastCaptures.temp < 17 and roomInfo.lastCaptures.hum > 70 %}
                    bg-warning
                {% elseif roomInfo.lastCaptures.temp < 17 and roomInfo.lastCaptures.hum < 40 %}
                    bg-info
                {% elseif roomInfo.lastCaptures.temp > 25 and roomInfo.lastCaptures.hum > 70 %}
                    bg-warning
                {% elseif roomInfo.lastCaptures.temp > 25 and roomInfo.lastCaptures.hum < 40 %}
                    bg-info
                {% else %}
                    bg-success
                {% endif %}
            {% else %}
                bg-secondary
            {% endif %}">
        </span>

                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ roomInfo.room.name }}</h5>
                                </div>
                                <!-- Pop-up info -->
                                <div class="popup-details card" style="display: none;">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <strong>Relier à:</strong> {{ roomInfo.room.idAS is not null ? roomInfo.room.idAS.name : 'N/A' }}<br>
                                            <strong>Étage:</strong> {{ roomInfo.room.floor.numberFloor }}<br>
                                            <strong>Bâtiment:</strong> {{ roomInfo.room.building.NameBuilding }} ({{ roomInfo.room.building.AdressBuilding }})<br>
                                            <div class="col">
                                                <strong>Température:</strong> {{ roomInfo.lastCaptures.temp ?? 'N/A' }} °C
                                            </div>
                                            <div class="col">
                                                <strong>Humidité:</strong> {{ roomInfo.lastCaptures.hum ?? 'N/A' }}%
                                            </div>
                                            <div class="col">
                                                <strong>CO2:</strong> {{ roomInfo.lastCaptures.co2 ?? 'N/A' }} ppm
                                            </div>
                                        </div>
                                        <a href="{{ path('app_welcome_details', {id: roomInfo.room.id}) }}" class="btn btn-dark table-violet">Détails</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">Aucune salle est relier à un SA à cette étage</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}