{% extends 'base.html.twig' %}

{% block title %}Hello TechnicianController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="background-container">
        <div class="container mt-4">
            <div class="card shadow-sm p-4">
                <h1 class="h3 mb-4 text-center">Formulaire d'installation</h1>
                <h2 class="h4 mb-4 text-center">Pour rappel: Vous devez installer le {{ installations.AS }} dans la salle {{ installations.Room }}</h2>
                {{ form_start(technicianForm) }}
                <div class="mb-1">
                    {{ form_widget(technicianForm.checkbox1, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(technicianForm.checkbox1, 'Avoir le matériel (microcontroleur, capteurs)', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(technicianForm.checkbox1, {'attr': {'class': 'text-danger'}}) }}
                </div>
                <div class="mb-1">
                    {{ form_widget(technicianForm.checkbox2, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(technicianForm.checkbox2, 'Verifier la salle', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(technicianForm.checkbox2, {'attr': {'class': 'text-danger'}}) }}
                </div>
                <div class="mb-1">
                    {{ form_widget(technicianForm.checkbox3, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(technicianForm.checkbox3, 'Faire les branchements correspondants', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(technicianForm.checkbox3, {'attr': {'class': 'text-danger'}}) }}
                </div>
                <div class="mb-1">
                    {{ form_widget(technicianForm.checkbox4, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(technicianForm.checkbox4, 'Installer le Script', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(technicianForm.checkbox4, {'attr': {'class': 'text-danger'}}) }}
                </div>

                <div class="mb-2">
                    {{ form_widget(technicianForm.checkbox5, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(technicianForm.checkbox5, 'Verifier le Wifi', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(technicianForm.checkbox5, {'attr': {'class': 'text-danger'}}) }}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success" data-bs-target="#deleteModal{{ installations.id }}">Valider l'installation</button>
                </div>
                {{ form_end(technicianForm) }}

        </div>
    </div>



{% endblock %}