{% extends 'base.html.twig' %}

{% block title %}Outil de diagnostic{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<!-- Contenu principal centré -->
<div class="d-flex justify-content-center align-items-center vh-60 flex-column">
    <h1>Diagnostic</h1>
</div>


{% if dataTemp.error is defined or dataHum.error is defined or dataCo2.error is defined %}
    <p>Erreur : {{ dataTemp.error ?? dataHum.error ?? dataCo2.error }}</p>
{% else %}


{% endif %}


<div class="container mt-4">
    <div class="card shadow-sm p-4">
        <h1 class="h3 mb-4 text-center background-container"> {{ as.Name }}</h1>

        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="accordion" id="accordionPanelsStayOpenExampleOne">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed border border-black" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                GRAPHIQUE CO2
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div>
                                    <canvas id="co2Chart" style="width: 100%; height: 350px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="accordion" id="accordionPanelsStayOpenExampleTwo">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed border border-black" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                GRAPHIQUE HUMIDITE
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <canvas id="humChart" style="width: 100%; height: 350px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="accordion" id="accordionPanelsStayOpenExampleThree">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed border border-black" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                GRAPHIQUE TEMPERATURE
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <canvas id="tempChart" style="width: 100%; height: 350px;"></canvas>                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="accordion" id="accordionPanelsStayOpenExampleFour">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed border border-black" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                Rappel des 5 dernières alertes
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                refsdgdgsreqfgyhtdresxcgtdrgxcgtrgfdxrtgf
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="accordion" id="accordionPanelsStayOpenExampleFive">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed border border-black" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                Analyse
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p id="analyse-text-co2"> CO2 :La moyenne de co2 est dans la normale (Pas de problème) </p>
                                <p id="analyse-text-hum"> Humidité : Il y a très peu de risques de moisissure</p>
                                <p id="analyse-text-temp"> Température : La température moyenne est confortable</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script>
            // Données pour les graphiques
            const labels = [];
            {% for item in dataTemp %}
            labels.push('{{ item.dateCapture }}');
            {% endfor %}

            const tempData = [];
            {% for item in dataTemp %}
            tempData.push({{ item.valeur }});
            {% endfor %}

            const humData = [];
            {% for item in dataHum %}
            humData.push({{ item.valeur }});
            {% endfor %}

            const co2Data = [];
            {% for item in dataCo2 %}
            co2Data.push({{ item.valeur }});
            {% endfor %}

            // Données pour les graphiques
            let redThresholdCo2 = 0;
            let yellowThresholdCo2 = 0;
            let greenThresholdCo2 = 0;

            for (let i = 0; i < co2Data.length; i++) {
                 if(co2Data[i] >= 400 && co2Data[i] < 1000)
                 {
                     greenThresholdCo2++;
                 }
                 else if(co2Data[i] >= 1000 && co2Data[i] < 1400)
                 {
                     yellowThresholdCo2++;
                 }
                 else if(co2Data[i] >= 1400)
                 {
                     redThresholdCo2++;
                 }
                 else{
                     redThresholdCo2++;
                 }
            }


            // Données pour les graphiques
            let darkBlueThresholdTemp = 0;
            let lightBlueThresholdTemp = 0;
            let redThresholdTemp = 0;
            let yellowThresholdTemp = 0;
            let orangeThresholdTemp = 0;
            let greenThresholdTemp = 0;

            for (let i = 0; i < tempData.length; i++) {
                if(tempData[i] < 10.0)
                {
                    darkBlueThresholdTemp++;
                }
                else if(tempData[i] >= 10.0 && tempData[i] < 17.0)
                {
                    lightBlueThresholdTemp++;
                }
                else if(tempData[i] >= 17.0 && tempData[i] <= 21.0)
                {
                    greenThresholdTemp++;
                }
                else if(tempData[i] > 21.0 && tempData[i] < 25.0){
                    yellowThresholdTemp++;
                }
                else if(tempData[i] >= 25.0 && tempData[i] < 35.0){
                    orangeThresholdTemp++;
                }
                else if(tempData[i] >= 35.0 ){
                    redThresholdTemp++;
                }
            }

            // Données pour les graphiques
            let redThresholdHum = 0;
            let yellowThresholdHum = 0;
            let greenThresholdHum = 0;

            for (let i = 0; i < humData.length; i++) {
                if(humData[i] >= 70.0 && tempData[i] >= 25)
                {
                    redThresholdHum++;
                }
                else if(humData[i] >= 70.0 && (tempData[i] >= 20 && tempData[i] <25))
                {
                    yellowThresholdCo2++;
                }
                else{
                    greenThresholdHum++;
                }
            }



            const textElementCo2 = document.getElementById('analyse-text-co2');
            const textElementHum = document.getElementById('analyse-text-hum');
            const textElementTemp = document.getElementById('analyse-text-temp');

            const ThresholdCo2Max = Math.max(greenThresholdCo2, yellowThresholdCo2, redThresholdCo2);

            switch (ThresholdCo2Max) {
                case greenThresholdCo2:
                    textElementCo2.textContent = "Le niveau de CO2 est dans le seuil vert (faible). 🌱 La qualité de l'air est bonne, et l'aération est suffisante. Continuez à maintenir une bonne ventilation.";
                    break;
                case yellowThresholdCo2:
                    textElementCo2.textContent = "Le niveau de CO2 est dans le seuil jaune (modéré). ⚠️ Cela indique que la qualité de l'air commence à se dégrader. \n\n**Raisons potentielles** : \n- La salle est occupée depuis un moment. \n- La ventilation est insuffisante ou limitée. \n\n**Solutions** : \n- Aérez la pièce en ouvrant les fenêtres si possible. \n- Faites une pause pour permettre un renouvellement d'air. \n- Vérifiez si le système de ventilation fonctionne correctement.";
                    break;
                case redThresholdCo2:
                    textElementCo2.textContent = "Le niveau de CO2 est dans le seuil rouge (élevé). 🚨 La qualité de l'air est mauvaise et peut affecter le confort et la concentration des occupants. \n\n**Raisons potentielles** : \n- La salle est sur-occupée. \n- Aucune ventilation efficace n'est présente. \n- Les fenêtres sont fermées depuis trop longtemps. \n\n**Solutions** : \n- Aérez immédiatement en ouvrant toutes les fenêtres disponibles. \n- Si possible, réduisez le nombre de personnes dans la pièce. \n- Vérifiez et entretenez les équipements de ventilation ou utilisez un purificateur d'air.";
                    break;
                default:
                    textElementCo2.textContent = "Impossible de déterminer le seuil de CO2. Veuillez vérifier les données.";
            }

            const ThresholdTempMax = Math.max(
                darkBlueThresholdTemp,
                lightBlueThresholdTemp,
                greenThresholdTemp,
                yellowThresholdTemp,
                orangeThresholdTemp,
                redThresholdTemp
            );

            switch (ThresholdTempMax) {
                case darkBlueThresholdTemp:
                    textElementTemp.textContent = "La température est très basse (seuil bleu foncé). ❄️ Il fait anormalement froid dans la pièce, ce qui peut causer de l'inconfort ou une baisse de concentration. \n\n**Raisons potentielles** : \n- Chauffage défectueux ou inexistant. \n- Mauvaise isolation thermique. \n\n**Solutions** : \n- Vérifiez si le chauffage fonctionne correctement. \n- Utilisez des solutions temporaires comme des radiateurs d'appoint. \n- Améliorez l'isolation si nécessaire.";
                    break;
                case lightBlueThresholdTemp:
                    textElementTemp.textContent = "La température est basse (seuil bleu clair). 🌬️ La pièce est fraîche, mais pas critique. Cela pourrait devenir inconfortable sur le long terme. \n\n**Raisons potentielles** : \n- Chauffage insuffisant. \n- Courants d'air ou ventilation excessive. \n\n**Solutions** : \n- Augmentez légèrement la température du chauffage. \n- Vérifiez l'étanchéité des fenêtres et des portes.";
                    break;
                case greenThresholdTemp:
                    textElementTemp.textContent = "La température est dans un seuil idéal (seuil vert). 🌡️ Les conditions thermiques sont optimales pour le confort et la concentration. Aucune action n'est nécessaire.";
                    break;
                case yellowThresholdTemp:
                    textElementTemp.textContent = "La température est modérée (seuil jaune). ⚠️ Elle commence à être légèrement élevée, ce qui pourrait causer un certain inconfort, surtout sur le long terme. \n\n**Raisons potentielles** : \n- Chauffage trop élevé. \n- Aération insuffisante. \n\n**Solutions** : \n- Baissez légèrement la température du chauffage. \n- Aérez la pièce pour équilibrer la température.";
                    break;
                case orangeThresholdTemp:
                    textElementTemp.textContent = "La température est élevée (seuil orange). 🟠 La pièce est chaude, ce qui peut provoquer de l'inconfort et une baisse de productivité. \n\n**Raisons potentielles** : \n- Surchauffage dû à un radiateur mal réglé. \n- Manque de ventilation ou pièce exposée directement au soleil. \n\n**Solutions** : \n- Réduisez le chauffage ou éteignez-le temporairement. \n- Aérez pour faire circuler l'air plus frais. \n- Utilisez des rideaux ou stores pour limiter l'exposition au soleil.";
                    break;
                case redThresholdTemp:
                    textElementTemp.textContent = "La température est critique (seuil rouge). 🚨 Il fait trop chaud dans la pièce, ce qui peut entraîner des risques pour la santé (comme des malaises). \n\n**Raisons potentielles** : \n- Absence de ventilation. \n- Canicule ou chauffage excessif non contrôlé. \n\n**Solutions** : \n- Aérez immédiatement pour faire entrer de l'air frais. \n- Réduisez ou éteignez les sources de chaleur. \n- Si possible, utilisez un ventilateur ou une climatisation.";
                    break;
                default:
                    textElementTemp.textContent = "Impossible de déterminer le seuil de température. Veuillez vérifier les données.";
            }

            const ThresholdHumMax = Math.max(redThresholdHum, yellowThresholdHum, greenThresholdHum);

            switch (ThresholdHumMax) {
                case greenThresholdHum:
                    textElementHum.textContent = "Le niveau d'humidité est idéal (seuil vert). 💧 L'air est confortable et équilibré. Aucune action n'est nécessaire. Maintenez ces conditions pour un environnement sain.";
                    break;
                case yellowThresholdHum:
                    textElementHum.textContent = "Le niveau d'humidité est modéré (seuil jaune). ⚠️ L'air est légèrement trop sec ou trop humide, ce qui peut causer un léger inconfort à long terme. \n\n**Raisons potentielles** : \n- Manque de ventilation ou chauffage excessif (si l'air est sec). \n- Absence de déshumidification (si l'air est humide). \n\n**Solutions** : \n- Si l'air est sec : utilisez un humidificateur ou placez des récipients d'eau près des radiateurs. \n- Si l'air est trop humide : aérez régulièrement ou utilisez un déshumidificateur.";
                    break;
                case redThresholdHum:
                    textElementHum.textContent = "Le niveau d'humidité est critique (seuil rouge). 🚨 Un excès ou un manque important d'humidité peut nuire à la santé et au confort. \n\n**Raisons potentielles** : \n- Humidité trop élevée : condensation, infiltration d'eau ou mauvaise ventilation. \n- Humidité trop basse : chauffage excessif ou air trop sec en hiver. \n\n**Solutions** : \n- Si l'air est trop humide : utilisez un déshumidificateur, réparez les éventuelles infiltrations et ventilez fréquemment. \n- Si l'air est trop sec : installez un humidificateur ou utilisez des solutions naturelles comme des plantes ou des récipients d'eau.";
                    break;
                default:
                    textElementHum.textContent = "Impossible de déterminer le seuil d'humidité. Veuillez vérifier les données.";
            }

            // Créer le graphique CO2
            const co2ChartCtx = document.getElementById('co2Chart').getContext('2d');

            const co2Chart = new Chart(co2ChartCtx, {
                type: 'pie',  // ou 'bar'
                data: {
                    labels: ['Taux de CO2 entre 400 et 1000 ppm', 'Taux de CO2 entre 1000 et 1400 ppm', 'Taux de CO2 au dessus de 1400 ppm'],
                    datasets: [{
                        data: [greenThresholdCo2, yellowThresholdCo2, redThresholdCo2],
                        backgroundColor: [
                            'rgb(41,112,6)',  // vert
                            'rgb(184,177,2)',  // jaune
                            'rgb(255,0,55)',   // rouge
                        ],
                        hoverOffset: 1
                    }]
                },
                options: {
                    responsive: true, // Le graphique s'adapte à la taille de l'écran
                    plugins: {
                        legend: {
                            position: 'top', // Position de la légende (top, bottom, left, right)
                        },
                        tooltip: {
                            enabled: false, // Active les infobulles
                        },
                    }
                }
            });

            // Créer les graphiques
            const tempChartCtx = document.getElementById('tempChart').getContext('2d');
            const humChartCtx = document.getElementById('humChart').getContext('2d');

            const tempChart = new Chart(tempChartCtx, {
                type: 'pie',  // ou 'bar'
                data: {
                    labels: ['Température inférieure à 10°C', 'Température entre 10 et 17°C', 'Température entre 17 et 21°C', 'Température entre 21 et 25°C','Température entre 25 et 35°C', 'Température supérieure à 35°C'],
                    datasets: [{
                        data: [darkBlueThresholdTemp, lightBlueThresholdTemp, greenThresholdTemp, yellowThresholdTemp, orangeThresholdTemp, redThresholdTemp],
                        backgroundColor: [
                            'rgb(6,20,112)',  // vert
                            'rgb(8,138,209)',  // jaune
                            'rgb(41,112,6)',
                            'rgb(184,177,2)',  // jaune
                            'rgb(209,92,8)',  // jaune
                            'rgb(255,0,55)',   // rouge
                        ],
                        hoverOffset: 1
                    }]
                },
                options: {
                    responsive: true, // Le graphique s'adapte à la taille de l'écran
                    plugins: {
                        legend: {
                            position: 'top', // Position de la légende (top, bottom, left, right)
                        },
                        tooltip: {
                            enabled: false, // Active les infobulles
                        },
                    }
                }
            });

            const humChart = new Chart(humChartCtx, {
                type: 'pie',  // ou 'bar'
                data: {
                    labels: ['Gros risques de moisissure', 'Risques de moisissure', 'Très peu de risques de moisissure'],
                    datasets: [{
                        data: [redThresholdHum, yellowThresholdHum, greenThresholdHum],
                        backgroundColor: [
                            'rgb(255,0,55)',
                            'rgb(184,177,2)',
                            'rgb(41,112,6)',
                        ],
                    }]
                },
                options: {
                    responsive: true, // Le graphique s'adapte à la taille de l'écran
                    plugins: {
                        legend: {
                            position: 'top', // Position de la légende (top, bottom, left, right)
                        },
                        tooltip: {
                            enabled: false, // Active les infobulles
                        },
                    }
                }
            });

        </script>

    </div>
    {% endblock %}