{% extends 'base.html.twig' %}

{% block title %}Outil de diagnostic{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

    <!-- Contenu principal centré -->
    <div class="d-flex justify-content-center align-items-center vh-60 flex-column">
        <h1>Diagnostic</h1>
    </div>

    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="h3 mb-4 text-center background-container">Liste des SA</h1>

            <div class="container">
                <div class="row">
                    {% for room in rooms %}
                        <div class="col-12 col-md-4 mb-4">
                            <a href="{{ path('app_welcome_details', {id: room.id}) }}" class="text-decoration-none text-dark">
                                <div class="room-card card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ room.idAS.name }}</h5>
                                        <p class="card-text">
                                            <strong>Relier à:</strong> {{ room.name }}<br>
                                            <strong>Étage:</strong> {{ room.floor.numberFloor }}<br>
                                            <strong>Bâtiment:</strong> {{ room.building.NameBuilding }} ({{ room.building.AdressBuilding }})<br>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}