{% extends 'base.html.twig' %}

{% block title %}Ajouter un b창timent!{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4">Ajouter un B창timent</h2>



        {{ form_start(buildingForm) }}
        <div class="mb-3">
        {{ form_label(buildingForm.NameBuilding, 'Nom du b창timent', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(buildingForm.NameBuilding, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
        {{ form_label(buildingForm.AdressBuilding, 'Adresse du b창timent', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(buildingForm.AdressBuilding, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="text-center">
            <button type="submit" class="btn" style="background-color: #6a0dad; color: #fff;">Ajouter un batiment</button>
        </div>
        {{ form_end(buildingForm) }}


    </div>
</div>
{% endblock %}
