{#
########################################################################
# @Name of file : building/add.html.twig                              ##
# @brief : Template for adding a new building                         ##
# @Function : Renders a form to create a new building entry           ##
####                                                                  ##
# Uses Symfony's Twig engine to display and process the building form ##
#                                                                     ##
########################################################################
#}
{% extends 'base.html.twig' %}

{% block title %}Ajouter un bâtiment!{% endblock %}

{% block body %}

    <div class="position-absolute top-0 start-0 quarter-circle"></div>
    <div class="position-absolute bottom-0 end-0 quarter-circle"></div>

    <div class="d-flex justify-content-center align-items-center vh-0">
        <img src="{{ asset('images/logo.png') }}" alt="Logo du campus" >
    </div>
    <div class="container-fluid d-flex justify-content-center  p-3">
        <a href="{{ path('app_welcome') }}" class="mx-3 text-link">Accueil</a>
        <a href="{{ path('app_rooms') }}" class="mx-3 text-link">Plan</a>
    </div>

<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4">Ajouter un Bâtiment</h2>



        {{ form_start(buildingForm) }}
        <div class="mb-3">
        {{ form_label(buildingForm.NameBuilding, 'Nom du bâtiment', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(buildingForm.NameBuilding, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
        {{ form_label(buildingForm.AdressBuilding, 'Adresse du bâtiment', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(buildingForm.AdressBuilding, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="text-center">
            <button type="submit" class="btn" style="background-color: #6a0dad; color: #fff;">Ajouter une Salle</button>
        </div>
        {{ form_end(buildingForm) }}

        <div class="mt-4 text-center">
            <a href="{{ path('app_building') }}" class="btn btn-secondary">Retour à la liste des bâtiments</a>
        </div>

    </div>
</div>
{% endblock %}
