{% extends 'base.html.twig' %}

{% block title %}Hello AlertController!{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="h3 mb-4 text-center">ALERTES EN COURS</h1>

            <!-- Tableau des salles -->
            <table class="table table-striped table-bordered">
                <thead class="table-violet sticky-header">
                <tr>
                    <th scope="col">DATE DEBUT</th>
                    <th scope="col">NOM DU SA</th>
                    <th scope="col">NOM DE LA SALLE</th>
                    <th scope="col">TYPE D'ALERTE</th>
                    <th scope="col">PROBLEME</th>
                </tr>
                </thead>
                <tbody>
                {% for alert in alerts %}
                    <tr>
                        <td>{{ alert.DateBegin|date("m/d/Y h:m") }}</td>
                        <td>{{ alert.IdSA.name }}</td>
                        <td>{{ alert.IdRoom.name }}</td>
                        <td>{{ alert.type.value }}</td>
                        <td>{{ alert.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
