{% extends 'base.html.twig' %}

{% block title %}Ajouter un étage!{% endblock %}

{% block body %}

    <div class="position-absolute top-0 start-0 quarter-circle"></div>
    <div class="position-absolute bottom-0 end-0 quarter-circle"></div>

    <div class="d-flex justify-content-center align-items-center vh-0">
        <img src="{{ asset('images/logo.png') }}" alt="Logo du campus" >
    </div>
    <div class="container-fluid d-flex justify-content-center  p-3">
        <a href="{{ path('app_welcome') }}" class="mx-3 text-link">Accueil</a>
        <a href="#plan" class="mx-3 text-link">Plan</a>
    </div>

    <div class="example-wrapper">



        {{ form_start(floorForm) }}

        {{ form_label(floorForm.numberFloor, "Numéro d'étage") }}
        {{ form_widget(floorForm.numberFloor) }}

        {{ form_label(floorForm.IdBuilding, 'Batiment') }}
        {{ form_widget(floorForm.IdBuilding) }}

        <button type="submit" class="transition-button">Ajouter un étage</button>
        {{ form_end(floorForm) }}


    </div>
{% endblock %}
