{% extends 'base.html.twig' %}

{% block title %}Modifier l'étage - {{ floor.numberFloor }}{% endblock %}

{% block body %}
    <div class="position-absolute top-0 start-0 quarter-circle"></div>
    <div class="position-absolute bottom-0 end-0 quarter-circle"></div>

    <div class="d-flex justify-content-center align-items-center vh-0">
        <img src="{{ asset('images/logo.png') }}" alt="Logo du campus" >
    </div>
    <!-- Conteneur pour les liens centré en haut, occupant toute la largeur -->
    <div class="container-fluid d-flex justify-content-center  p-3">
        <a href="{{ path('app_welcome') }}" class="mx-3 text-link">Accueil</a>
        <a href="#Plan" class="mx-3 text-link">Plan</a>
    </div>
    <div class="container mt-4">
        <div class="card shadow-sm p-4">
            <h1 class="h3 mb-4 text-center">Modifier l'étage "{{ floor.numberFloor }}"</h1>

            <p class="text-muted">
                Ce formulaire vous permet de modifier les informations de l'étage.
            </p>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    {{ form_start(floorForm) }}
                    {{ form_row(floorForm.numberFloor, {'label': "Numéro d'étage"}) }}
                    {{ form_row(floorForm.IdBuilding, {'label': 'Bâtiment'}) }}

                    <!-- Ajoute d'autres champs du formulaire ici si nécessaire -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
                    </div>
                    {{ form_end(floorForm) }}

                </div>
            </div>

            <div class="mt-4 text-center">
                <a href="{{ path('app_building') }}" class="btn btn-secondary">Retour à la liste des bâtiments</a>
            </div>
        </div>
    </div>
{% endblock %}